<div class="logo">
  <a href="/">
    <img src="/logo.svg" alt="Site Logo" width="120" height="40" />
  </a>
</div>

<style>
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    width: auto;
  }
</style>
